.expense-container {
  margin: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.expenses {
  padding: 1rem;
  background-color: black;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}
